<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net461" />
  <package id="Catel.Core" version="5.7.0" targetFramework="net461" />
  <package id="Catel.Fody" version="3.5.0" targetFramework="net461" />
  <package id="Catel.MVVM" version="5.7.0" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net461" />
  <package id="Fody" version="3.2.4" targetFramework="net461" developmentDependency="true" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop296" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop296" targetFramework="net461" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop296" targetFramework="net461" />
  <package id="WPFTransitionals" version="1.0.0" targetFramework="net461" />
  <package id="YoutubeExplode" version="4.3.2" targetFramework="net461" />
</packages>